@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

.containerAlbum {
    display: flex;
    height: 150px;
    width: 250px;
  
    padding-left: 4%;
    padding-right: 4%;

    border: solid black 1px;    
    
}
.suggestion {
    border: black 1px solid;
    height: 30vh;
    width: 100vw;
}

.userContent {
    /* border: black 1px solid; */
    height: 50vh;
    width: 100vw;
    display: flex;
}

.leftCol{
    border: black 1px solid;
    height: 50vh;
    width: 50vw;
}

.rightCol{
    border: black 1px solid;
    height: 50vh;
    width: 50vw;
}

#link1 {
    text-decoration: none;
    /* border: solid black 1px; */
    color: white;
    border-radius: 3px;
    padding: 10px 30px;
    background-color: #a6808cd3;
    box-shadow: 1px 2px #888888;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    display: flex;
}

.userContent p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
}

#link1:hover {
    padding: 10px 30px;
    color: var(--text-light);
    background: var(--bg-dark);
}