@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: black 1px solid;
    background: rgb(214,207,203); */
    /* background: linear-gradient(17deg, rgba(214,207,203,1) 28%, rgba(214,213,202,1) 100%); */
    /* background-color: #FFCDB2; */
    background-color: #565264;
    
}

ul {
    list-style-type: none;
}


#logo  {
    
    height: 100px;
    width: 100px;
}

/* #logout {
    display: inline-block;
} */



.link1 {
    color: black;
  
    margin-bottom: 10px;
    border-radius: 5px;
    height: 25px;
    width: 120px;
    background-color: #FFBF69;
    /* background-color: #565264; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
   
}

.link1:hover {
    padding-right: 10px;
    /* color: var(--text-light); */
    background-color: #f9486c;
    font-weight: 600;
    transition:250ms;
    color: white;
}

#link2 {
    color: black;
    text-decoration: none;
    font-size: 12px;
}

#leftCol {
    width: 33.33%;
    display: flex;
    justify-content: center;
}
#middleCol {
    /* border: black 1px solid; */
    width: 33.33%;
}
#lastCol {
    /* border: black 1px solid; */
    width: 33.33%;
}

#logoutButton {
    /* background-color: #565264; */
    background-color: #FFBF69;
    font-size: 12px;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#logoutButton:hover {
    background-color: #f9486c;
    font-weight: 600;
    color:white;
}