@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap");
/* font-family: 'Space Grotesk', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400&display=swap");
/* font-family: 'IBM Plex Sans', sans-serif; */

body {
  font-family: "Space Grotesk", sans-serif;
  background: grey;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 60px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-family: "Space Grotesk", sans-serif;
}

footer h3 {
  font-size: 15px;
}

.footer-list {
  background: white;
  box-shadow: 0px, 0px, 10px var(--clr-gray200);
  margin: 0;
  padding: 1rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.footer-list img {
  height: 50px;
  width: 50px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.footer-item {
  list-style: none;
  margin-right: 2rem;
}

.footer-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

#link-to-team-githubs {
  display: flex;
  font-size: 15px;
  justify-content: flex-end;
  margin-right: 35px;
  /* align-items: center; */
}

.footer-item first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.footer-item a:hover {
  color: var(--clr-primary-dark);
}
