
/* left side of the login page */
.loginpage{
    border: solid black 3px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;

}


.welcome{
    display: flex;
   border: 2px solid rgb(250, 245, 245);
   border-radius: 20px;
   

}

  

/* right side of the login page bellow */

form {
 /* border: solid black 2px; */
 display: flex;
 flex-direction: column; 
 width: 40vw;  
 height: 40vh;


background-color:#f6f4f1;
}
input{
    
    border:none ;
    box-shadow: 6px 5px 2px #7c898b;
}

  
  input[type=text] {
   background-color: #b29e84;
   height: 3vh; 
  
  }



  /* need to fix buttons not shure how to make the buttons nice */


  button {
      display: flex;
      display: inline-block;
      background-color: #555555;
      color: white;
      border-radius: 12px;
      border: none;
      
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      
    } 

      